<nav class="flex flex-col md:flex-row justify-between items-center p-4 md:p-6 gap-4 md:gap-8">
  <div class="flex justify-between items-center w-full md:w-auto">
    <div class="cursor-pointer" routerLink="/">
      <img src="img/seha_logo.svg" alt="Seha Logo" class="h-8 md:h-auto" />
    </div>
    <button class="md:hidden" (click)="toggleMenu()">
      <img src="img/menu.svg" alt="Menu" class="h-6 w-6" />
    </button>
  </div>
  <div
    class="bg-white flex flex-col md:flex-row grow justify-between px-4 md:px-8 py-4 rounded-full gap-4 shadow-lg w-full md:w-auto"
    [class.hidden]="!isMenuOpen && !isDesktop"
  >
    <div class="flex flex-col md:flex-row justify-between gap-4">
      <button
        class="flex items-center text-blue-600 hover:text-blue-900 hover:font-bold cursor-pointer"
      >
        الخدمات
      </button>
      <button
        class="flex items-center text-blue-600 hover:text-blue-900 hover:font-bold cursor-pointer"
        routerLink="/leave-query"
      >
        الاستعلامات
      </button>
    </div>
    <div class="flex flex-col md:flex-row justify-between gap-4">
      <button
        class="flex items-center text-blue-600 hover:text-blue-900 hover:font-bold cursor-pointer"
        routerLink="register"
      >
        إنشاء حساب
      </button>
      <button
        class="flex items-center rounded-2xl text-white bg-blue-600 hover:bg-blue-900 px-4 py-2 gap-2 cursor-pointer"
        routerLink="/login"
      >
        <img src="img/user.svg" alt="">
        تسجيل الدخول
      </button>
    </div>
  </div>
</nav>
