<div class="py-12 px-4 sm:px-6 lg:px-8">
  <div class="flex flex-col text-center w-full mx-auto p-6">
    <h2 class="text-4xl font-bold text-primary mb-8">الإجازات المرضية</h2>
    <p class="text-gray-500 mb-8">خدمة الاستعلام عن الإجازات المرضية تتيح لك الاستعلام عن حالة طلبك للإجازة ويمكنك طباعتها عن طريق تطبيق صحتي</p>

    <form (ngSubmit)="onSubmit()" class="space-y-6">
      <div class="flex justify-center">
        <div class="w-full md:w-1/3">
          <input
            type="text"
            id="code"
            [(ngModel)]="code"
            name="code"
            required
            class="py-1 px-4 w-full rounded-lg border-2 border-gray-200 shadow-sm focus:border-primary focus:ring-primary text-right"
            placeholder="رمز الخدمة"
          >
        </div>
      </div>
    
      <div class="flex justify-center">
        <div class="w-full md:w-1/3">
          <input
            type="text"
            id="identification"
            [(ngModel)]="identification"
            name="identification"
            required
            class="py-1 px-4 w-full rounded-lg border-2 border-gray-200 shadow-sm focus:border-primary focus:ring-primary text-right"
            placeholder="أدخل رقم الهوية/الإقامة"
          >
        </div>
      </div>
    
      <div class="flex justify-center">
        <button
          type="submit"
          class="flex items-center rounded-md text-white bg-primary hover:bg-secondary px-8 py-2 gap-2 cursor-pointer"
        >
          استعلام
        </button>
      </div>
    </form>

    <div *ngIf="error" class="mt-1 p-4">
      <p class="text-red-600 font-medium text-sm">{{ error }}</p>
    </div>

    <div *ngIf="certificate" class="mt-8 p-8 bg-gray-100 rounded-xl shadow-lg">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8 text-center">
        <!-- Columna 1 -->
        <div class="space-y-6">
          <div class="text-center">
            <label class="block font-bold text-gray-700 text-lg">الاسم الكامل:</label>
            <p class="text-gray-600 mt-1">{{ certificate.nombre_paciente }}</p>
          </div>
          
          <div class="text-center">
            <label class="block font-bold text-gray-700 text-lg">رقم الهوية/الإقامة:</label>
            <p class="text-gray-600 mt-1">{{ certificate.identificacion }}</p>
          </div>
          
          <div class="text-center">
            <label class="block font-bold text-gray-700 text-lg">الجنسية:</label>
            <p class="text-gray-600 mt-1">{{ certificate.nacionalidad }}</p>
          </div>
          
          <div class="text-center">
            <label class="block font-bold text-gray-700 text-lg">مركز الخدمة:</label>
            <p class="text-gray-600 mt-1">{{ certificate.centro_servicio }}</p>
          </div>
          
          <div class="text-center">
            <label class="block font-bold text-gray-700 text-lg">تاريخ البدء:</label>
            <p class="text-gray-600 mt-1">
              {{ certificate.fecha_inicio | date:'yyyy-MM-dd' }}
              <span *ngIf="certificate.fecha_inicio_lunar" class="block text-sm text-gray-500">
                (قمرية: {{ certificate.fecha_inicio_lunar | date:'yyyy-MM-dd' }})
              </span>
            </p>
          </div>
        </div>

        <!-- Columna 2 -->
        <div class="space-y-6">
          <div class="text-center">
            <label class="block font-bold text-gray-700 text-lg">رمز الإجازة:</label>
            <p class="text-gray-600 mt-1">{{ certificate.codigo }}</p>
          </div>
          
          <div class="text-center">
            <label class="block font-bold text-gray-700 text-lg">المركز الطبي:</label>
            <p class="text-gray-600 mt-1">{{ certificate.centro_medico.nombre }}</p>
          </div>
          
          <div class="text-center">
            <label class="block font-bold text-gray-700 text-lg">اسم الطبيب:</label>
            <p class="text-gray-600 mt-1">{{ certificate.nombre_medico }}</p>
          </div>
          
          <div class="text-center">
            <label class="block font-bold text-gray-700 text-lg">المسمى الوظيفي:</label>
            <p class="text-gray-600 mt-1">{{ certificate.titulo_trabajo }}</p>
          </div>
          
          <div class="text-center">
            <label class="block font-bold text-gray-700 text-lg">تاريخ الانتهاء:</label>
            <p class="text-gray-600 mt-1">
              {{ certificate.fecha_salida | date:'yyyy-MM-dd' }}
              <span *ngIf="certificate.fecha_salida_lunar" class="block text-sm text-gray-500">
                (قمرية: {{ certificate.fecha_salida_lunar | date:'yyyy-MM-dd' }})
              </span>
            </p>
          </div>
          
          <div *ngIf="certificate.duracion" class="text-center">
            <label class="block font-bold text-gray-700 text-lg">المدة بالأيام:</label>
            <p class="text-gray-600 mt-1">{{ certificate.duracion }}</p>
          </div>
        </div>
      </div>

      <button 
        (click)="downloadCertificate()"
        class="mt-8 w-full py-4 px-6 rounded-lg shadow-sm text-xl font-medium text-white bg-primary hover:bg-secondary"
      >
        <i class="fas fa-download ml-2"></i>
        تنزيل الشهادة PDF
      </button>
    </div>
  </div>
</div>