<div class="flex flex-col p-8">
  <!-- Carousel items -->
  <div class="p-8 rounded-lg">
    <h2 class="text-5xl text-secondary font-semibold">
      {{ items[currentIndex].title }}
    </h2>
    <h3 class="text-3xl text-primary font-semibold mt-2">
      {{ items[currentIndex].subtitle }}
    </h3>
    <p class="text-gray-500 mt-8 whitespace-pre-line">{{ items[currentIndex].description }}</p>
    <a
      [routerLink]="items[currentIndex].buttonLink"
      class="inline-flex items-center gap-10 mt-8 px-4 py-2 bg-primary text-white rounded-2xl hover:bg-secondary transition"
    >
      {{ items[currentIndex].buttonText }}
      <img src="img/arrow-left-white.svg" alt="" />
    </a>
  </div>

  <!-- Carusel navigation buttons -->
  <div class="flex justify-center gap-4">
    <button
      (click)="prev()"
      class="px-4 py-2 rounded-full text-primary hover:bg-gray-300 cursor-pointer"
    >
      ❮
    </button>
    <div class="flex justify-center items-center gap-3">
      <button
        *ngFor="let item of items; let i = index"
        (click)="currentIndex = i"
        class="w-2 h-2 rounded-full ring-1 ring-primary cursor-pointer"
        [class.bg-primary]="i === currentIndex"
        [class.bg-gray-100]="i !== currentIndex"
      ></button>
    </div>
    <button
      (click)="next()"
      class="px-4 py-2 rounded-full text-primary hover:bg-gray-300 cursor-pointer"
    >
      ❯
    </button>
  </div>

  <!-- Hovering mouse -->
</div>
